<p>God of Money</p>

<table>
    <thead>
        <th>Money</th>
    </thead>
    <tbody>
        <tr>
            <td>${{moneyBalance.toFixed(2)}}</td>
            <td>+ ${{moneyPerSecond.toFixed(2)}}/second</td>
        </tr>
    </tbody>
</table>

<br>

<table>
    <thead>
        <th>Buildings</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Temples</td>
            <td>{{buildings.temples.length}}</td>
            <button [disabled]="buildings.temples.marginalCost() > moneyBalance" (click)="buyTemple()">Buy Temple</button>
            <td>Cost: {{buildings.temples.marginalCost().toFixed(2)}}</td>
            <button [disabled]="buildings.temples.length <= 0" (click)="sellTemple()">Sell Temple</button>
            <td>Resell Value: {{buildings.temples.resellValue().toFixed(2)}}</td>
        </tr>
    </tbody>
</table>

<br>

<!-- <table>
    <thead>
        <th>People</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Priests</td>
            <td>{{people.priests.length}}</td>
        </tr>
        <tr>
            <td>All</td>
            <td>{{people.all.length}}</td>
            <button [disabled]="costs.priest > money" (click)="convertToPriest()">Convert to Priest</button>
        </tr>
    </tbody>
</table> -->
