<p>God of Money</p>

<table>
    <thead>
        <th>Money</th>
    </thead>
    <tbody>
        <tr>
            <td>${{money.toFixed(2)}}</td>
            <td>+ ${{moneyIncrement.toFixed(2)}}/turn</td>
        </tr>
    </tbody>
</table>

<br>

<table>
    <thead>
        <th>Buildings</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Temples</td>
            <td>{{buildings.temples.length}}</td>
            <button [disabled]="costs.temple > money" (click)="buyTemple()">Buy Temple</button>
        </tr>
    </tbody>
</table>

<br>

<table>
    <thead>
        <th>People</th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td>Priests</td>
            <td>{{people.priests.length}}</td>
        </tr>
        <tr>
            <td>All</td>
            <td>{{people.all.length}}</td>
            <button [disabled]="costs.priest > money" (click)="convertToPriest()">Convert to Priest</button>
        </tr>
    </tbody>
</table>
